<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Page Introuvable - GojAni.me</title>
    <link rel="icon" type="image/png" href="/assets/icon.svg" />
    <link rel="stylesheet" href="/css/error.css" />

    <meta name="description" content="Un site de streaming où vous pouvez regarder vos animes préférés gratuitement, et le tout sans publicité!">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Gojani.me">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="Gojani.me">
    <meta property="og:title" content="Gojani.me">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Gojani.me">
    <meta property="og:url" content="https://gojani.me">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/787013134811660308/787365034946461726/icon-removebg-preview.png">
    <meta property="og:description" content="Un site de streaming où vous pouvez regarder vos animes préférés gratuitement, et le tout sans publicité!">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Gojani.me">
    <meta name="twitter:title" content="Gojani.me">
    <meta name="twitter:description" content="Un site de streaming où vous pouvez regarder vos animes préférés gratuitement, et le tout sans publicité!">
    <meta name="twitter:image" content="https://cdn.discordapp.com/attachments/787013134811660308/787365034946461726/icon-removebg-preview.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <ul class="background">
        <li><a><img src="/assets/imgs/icons/error.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/404.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/error.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/404.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/error.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/404.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/error.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/404.png" width="70px" height="70px"></a></li>
    </ul>

    <div class="container">
        <div class="terminal">
            <p class="prompt">Cette page est introuvable sur notre site</p>
            <p class="prompt">Veuiller cliquer tout en bas sur "revenir" pour revenir sur l'accueil</p>
            <p class="prompt output new-output"></p>
        </div>
    </div>
    <p class="return;prompt" style="position:absolute; bottom:0;"><a href="/" class="return">> REVENIR</a></p>
</body>

</html>