<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Page Introuvable - GojAni.me</title>
    <link rel="icon" type="image/png" href="/assets/icon.svg" />
    <link rel="stylesheet" href="/css/error.css" />
</head>

<body>
    <ul class="background">
        <li><a><img src="/assets/imgs/icons/error.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/404.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/error.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/404.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/error.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/404.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/error.png" width="70px" height="70px"></a></li>
        <li><a><img src="/assets/imgs/icons/404.png" width="70px" height="70px"></a></li>
    </ul>

    <div class="container">
        <div class="terminal">
            <p class="prompt">Cette page est introuvable sur notre site</p>
            <p class="prompt">Veuiller cliquer tout en bas sur "revenir" pour revenir sur l'accueil</p>
            <p class="prompt output new-output"></p>
        </div>
    </div>
    <p class="return;prompt" style="position:absolute; bottom:0;"><a href="/" class="return">> REVENIR</a></p>
</body>

</html>