<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Your Name VF - GojAni.me</title>
    <link rel="icon" type="image/png" href="/assets/icon.svg" />
    <link rel="stylesheet" href="/css/pages/catalog/movies.css" />

    <meta name="description" content="Un site de streaming où vous pouvez regarder vos animes préférés gratuitement, et le tout sans publicité!">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Gojani.me">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="Gojani.me">
    <meta property="og:title" content="Gojani.me">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Gojani.me">
    <meta property="og:url" content="https://gojani.me">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/787013134811660308/787365034946461726/icon-removebg-preview.png">
    <meta property="og:description" content="Un site de streaming où vous pouvez regarder vos animes préférés gratuitement, et le tout sans publicité!">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Gojani.me">
    <meta name="twitter:title" content="Gojani.me">
    <meta name="twitter:description" content="Un site de streaming où vous pouvez regarder vos animes préférés gratuitement, et le tout sans publicité!">
    <meta name="twitter:image" content="https://cdn.discordapp.com/attachments/787013134811660308/787365034946461726/icon-removebg-preview.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="contLogo">
                <a href="/"><img src="/assets/icon.svg" width="90px" height="90px"></a>
                <a href="/" style="text-decoration: none;">
                    <h1 style="color: black;"> GojAnim.me</h1>
                </a>
            </div>

            <div class="contItems">
                <a href="https://discord.gg/MP5TunDSPA" target="__blank" class="itemDiscord">Discord</a>
                <a href="https://github.com/GojAnime" target="__blank" class="itemGithub">Github</a>
            </div>
        </div>
    </header>

    <div class="body">
        <h3>> Your name</h3>

        <div class="video-responsive">
            <iframe src="https://embed.mystream.to/77o1e54pxw9f" scrolling="no" frameborder="0" width="560" height="315" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        </div>
        <div class="space"></div>
        <h3 class="animeList">> Nos suggestions</h3>

        <div class="grille">
            <div class="grid-item">
                <a href="/vf/mha-two-heroes"><img src="/assets/imgs/animes/preview/movies/Two Heroes - VF.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vf/voyage-de-chihiro"><img src="/assets/imgs/animes/preview/movies/Le Voyage De Chihiro - VF.jpg" width="auto" height="auto"></a>
            </div>
        </div>

        <footer>
            <p class="text"><a href="https://twitter.com/SltCMaXoooZ" target="_blank" class="text">GojAnim.me © 2020 - Fait avec 🤍 par MaXoooZ</a></p>
        </footer>
    </div>
</body>

</html>