body {
    margin: 0;
    padding: 0;
    font-family: "AndaleMono", monospace;
    height: 100vh;
    width: 100%;
    background: white;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.navbar {
    height: 100px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
}

.contLogo {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 15px;
    text-decoration: none;
}

.logo {
    margin-left: 20px;
    width: 40px;
}

.contItems {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 0.15em;
    white-space: pre-wrap;
    margin-right: 20px;
}

.itemDiscord,
.itemGithub {
    margin-right: 30px;
    cursor: pointer;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.itemDiscord {
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
    color: white;

    border: 10px solid black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background: black;
}

.logoMenuImg {
    width: 30px;
    display: none;
    position: absolute;
    right: 20px;
    top: 13px;
    cursor: pointer;
}

footer {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: white;
}

footer .text {
    margin-right: 30px;
    cursor: pointer;
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-family: "AndaleMono", monospace;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0px;
}

h1 {
    font-size: 40px;
    margin: 50px 0;
    font-family: "AndaleMono", monospace;
    letter-spacing: 0.15em;
    text-decoration: none;
}

.animeList {
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
    color: black;
}

.grille {
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
}

.grid-item {
    width: 300px;
    height: 200px;
    background-color: black;
}

.VO {
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: "AndaleMono", monospace;
    font-weight: bold;
    letter-spacing: 0.15em;
    border: 20px solid white;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font-size: 27px;
    background-color: black;
    background: white;
}

.VO:hover {
    color: white;
    background: black;
    padding: 15px;
    border: 5px solid white;
}

.VF {
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: "AndaleMono", monospace;
    font-weight: bold;
    letter-spacing: 0.15em;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font-size: 27px;
    background: black;
    padding: 15px;
    border: 5px solid white;
}

.VF:hover {
    color: black;
    background: white;
    padding: 15px;
    border: 5px solid white;
}

.itemDiscord:hover {
    color: black;
    background: white;
    padding: 6px;
    border: 4px solid black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.title {
    text-align: center;
    margin: 20px;
    font-family: "AndaleMono", monospace;
    letter-spacing: 0.15em;
    color: white;
    background: black;
}

.wave {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
}

.button {
    padding: 20px;
    background-color: black;
}

.itemGithub {
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}

.itemGithub:active,
.itemGithub:focus,
.itemGithub:hover {
    transform: scale(1.15);
}

.space {
    padding: 20px;
}