<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Catalogue VF - GojAni.me</title>
    <link rel="icon" type="image/png" href="/assets/icon.svg" />

    <link rel="stylesheet" href="/css/pages/category/listVF.css" />
</head>

<body>
    <header>
        <div class="navbar">
            <div class="contLogo">
                <a href="/"><img src="/assets/icon.svg" width="90px" height="90px"></a>
                <a href="/" style="text-decoration: none;">
                    <h1 style="color: black;"> GojAnim.me</h1>
                </a>
            </div>

            <div class="contItems">
                <a href="https://discord.gg/MP5TunDSPA" target="__blank" class="itemDiscord">Discord</a>
                <a href="https://github.com/GojAnime" target="__blank" class="itemGithub">Github</a>
            </div>
        </div>
    </header>

    <div class="body">
        <h3 class="animeList">> Notre catalogue de séries</h3>

        <div class="grille">
            <div class="grid-item"><a href="/vf/jujutsu-kaisen"><img src="/assets/imgs/animes/Jujutsu Kaisen - VF.jpg" width="auto" height="auto"></a></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
        </div>

        <h3 class="animeList">> Notre catalogues de films</h3>

        <div class="grille">
            <div class="grid-item"><a href="/vf/your-name"><img src="/assets/imgs/animes/Your Name - VF.jpg" width="auto" height="auto"></a></div>
            <div class="grid-item"><a href="/vf/mha-two-heroes"><img src="/assets/imgs/animes/Two Heroes - VF.jpg" width="auto" height="auto"></a></div>
            <div class="grid-item"><a href="/vf/a-silent-voice"><img src="/assets/imgs/animes/A Silent Voice - VF.jpg" width="auto" height="auto"></a></div>
            <div class="grid-item"><a href="/vf/voyage-de-chihiro"><img src="/assets/imgs/animes/Le Voyage De Chihiro - VF.jpg" width="auto" height="auto"></a></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
        </div>
    </div>

    <footer>
        <p class="text"><a href="https://twitter.com/SltCMaXoooZ" target="_blank" class="text">GojAnim.me © 2020 - Fait avec 🤍 par MaXoooZ</a></p>
    </footer>
</body>

</html>