<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Accueil - GojAni.me</title>
    <link rel="icon" type="image/png" href="/assets/icon.svg" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/pages/index.css" />
    <script src="/javascripts/pages/index.js"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="contLogo">
                <a href="/"><img src="/assets/icon.svg" width="90px" height="90px"></a>
                <a href="/" style="text-decoration: none;">
                    <h1 style="color: black;"> GojAnim.me</h1>
                </a>
            </div>

            <div class="contItems">
                <a href="https://discord.gg/MP5TunDSPA" target="__blank" class="itemDiscord">Discord</a>
                <a href="https://github.com/GojAnime" target="__blank" class="itemGithub">Github</a>
            </div>
        </div>
    </header>

    <div class="body">
        <h3 class="animeList" data-aos="fade-right">> Le plus populaires</h3>

        <div class="grille" data-aos="fade-right">
            <div class="grid-item"><a href="/vf/jujutsu-kaisen"><img src="/assets/imgs/animes/Jujutsu Kaisen - VF.jpg" width="auto" height="auto"></a></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
        </div>

        <h3 class="animeList" data-aos="fade-left">> Nos meilleures films</h3>

        <div class="grille" data-aos="fade-left">
            <div class="grid-item"><a href="/vf/your-name"><img src="/assets/imgs/animes/Your Name - VF.jpg" width="auto" height="auto"></a></div>
            <div class="grid-item"><a href="/vo/a-silent-voice"><img src="/assets/imgs/animes/A Silent Voice - VO.jpg" width="auto" height="auto"></a></div>
            <div class="grid-item"><a href="/vf/mha-two-heroes"><img src="/assets/imgs/animes/Two Heroes - VF.jpg" width="auto" height="auto"></a></div>
            <div class="grid-item"><a href="/vf/voyage-de-chihiro"><img src="/assets/imgs/animes/Le Voyage De Chihiro - VF.jpg" width="auto" height="auto"></a></div>
        </div>

        <div class="space"></div>

        <div class="wave">
            <?xml version="1.0" standalone="no"?>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="background: white;">
                <path fill="black" fill-opacity="2" d="M0,160L34.3,149.3C68.6,139,137,117,206,128C274.3,139,343,181,411,181.3C480,181,549,139,617,128C685.7,117,754,139,823,165.3C891.4,192,960,224,1029,202.7C1097.1,181,1166,107,1234,80C1302.9,53,1371,75,1406,85.3L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
            </svg>

            <h2 class="title">Accèder à quel catalogue d'Animes ?</h2>

            <div class="button" data-aos="flip-up" data-aos-easing="linear" data-aos-duration="300">
                <a href="listVF" class="VF">Version Française</a>
                <a href="listVO" class="VO">Version Originale</a>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="background: white;">
                <path fill="black" fill-opacity="2" d="M0,160L34.3,149.3C68.6,139,137,117,206,128C274.3,139,343,181,411,181.3C480,181,549,139,617,128C685.7,117,754,139,823,165.3C891.4,192,960,224,1029,202.7C1097.1,181,1166,107,1234,80C1302.9,53,1371,75,1406,85.3L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path>
            </svg>
        </div>
    </div>

    <footer>
        <p class="text"><a href="https://twitter.com/SltCMaXoooZ" target="_blank" class="text">GojAnim.me © 2020 - Fait avec 🤍 par MaXoooZ</a></p>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>