<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tower Of God VostFR - GojAni.me</title>
    <link rel="icon" type="image/png" href="/assets/icon.svg" />
    <link rel="stylesheet" href="/css/pages/catalog/series/ep.css" />

    <meta name="description" content="Un site de streaming où vous pouvez regarder vos animes préférés gratuitement, et le tout sans publicité!">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Gojani.me">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="Gojani.me">
    <meta property="og:title" content="Gojani.me">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Gojani.me">
    <meta property="og:url" content="https://gojani.me">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/787013134811660308/787365034946461726/icon-removebg-preview.png">
    <meta property="og:description" content="Un site de streaming où vous pouvez regarder vos animes préférés gratuitement, et le tout sans publicité!">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Gojani.me">
    <meta name="twitter:title" content="Gojani.me">
    <meta name="twitter:description" content="Un site de streaming où vous pouvez regarder vos animes préférés gratuitement, et le tout sans publicité!">
    <meta name="twitter:image" content="https://cdn.discordapp.com/attachments/787013134811660308/787365034946461726/icon-removebg-preview.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="contLogo">
                <a href="/"><img src="/assets/icon.svg" width="90px" height="90px"></a>
                <a href="/" style="text-decoration: none;">
                    <h1 style="color: black;"> GojAnim.me</h1>
                </a>
            </div>

            <div class="contItems">
                <a href="https://discord.gg/MP5TunDSPA" target="__blank" class="itemDiscord">Discord</a>
                <a href="https://github.com/GojAnime" target="__blank" class="itemGithub">Github</a>
            </div>
        </div>
    </header>

    <div class="body">
        <h3>> Tower Of God</h3>

        <div class="video-responsive">
            <iframe src="https://embed.mystream.to/xuimbjnhjrq5" scrolling="no" frameborder="0" width="560" height="315" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        </div>

        <div class="space"></div>

        <div class="info">
            <img src="/assets/imgs/animes/portrait/god-of-tower.jpg">
            <p class="description" style="font-size: 27px;">La légende veut qu'au sommet de la Tour de Dieu se trouve tout ce que l'on désire. Rachel représente tout pour Bam, jeune garçon né dans les ténèbres. Lorsque celle-ci l'abandonne pour entamer l'ascension des 134 étages de la Tour, ce dernier
                se lance à sa poursuite.<span style="font-size: 27px;"><br><br>Studios: Telecom Animation Film<br>Date de sortie: 1er avril 2020<br>Genre: Action, Dark Fantasy</span></p>
        </div>

        <h3 class="epList">> Episodes</h3>

        <div class="grille">
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep1"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep1.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep2"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep2.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep3"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep3.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep4"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep4.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep5"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep5.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep6"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep6.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep7"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep7.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep8"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep8.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep9"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep9.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep10"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep10.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep11"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep11.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep12"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep12.jpg" width="auto" height="auto"></a>
            </div>
            <div class="grid-item">
                <a href="/vo/tower-of-god-s1-ep13"><img src="/assets/imgs/animes/snapshot/tower-of-god-s1-ep13.jpg" width="auto" height="auto"></a>
            </div>
        </div>

        <footer>
            <p class="text"><a href="https://twitter.com/SltCMaXoooZ" target="_blank" class="text">GojAnim.me © 2020 - Fait avec 🤍 par MaXoooZ</a></p>
        </footer>
    </div>
</body>

</html>